


.card {
    /* Add shadows to create the "card" effect */
   box-shadow:
     0.6px 0.4px 2.2px rgba(0, 0, 0, 0.02),
     1.4px 0.9px 5.3px rgba(0, 0, 0, 0.028),
     2.6px 1.6px 10px rgba(255, 192, 203, 1),
     4.7px 2.9px 17.9px rgba(0, 0, 0, 0.042),
     8.8px 5.4px 33.4px rgba(255, 192, 203, 1),
     21px 13px 80px rgba(0, 0, 0, 0.07)
   ;
    border-radius: 35px;
    transition: 1.5s;
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow:
      0px 0px 1.1px -7px rgba(253, 253, 150, 1),
      0px 0px 3px -7px rgba(253, 253, 150, 1),
      0px 0px 7.2px -7px rgba(0, 0, 0, 0.046),
      0px 0px 24px -7px rgba(253, 253, 150, 1)
    ;
  }

 h3 {
        color: #FFC0CB;
        box-shadow:
          2.5px 2.5px 5.3px rgba(204, 204, 0, 0.041),
          8.3px 8.3px 17.9px rgba(204, 204, 0, 0.041),
          37px 37px 80px rgba(204, 204, 0, 0.041)
        ;
        border-radius: 150px;
    }

    ul.list-group {
       color: rgba(255, 105, 180, 1);
               box-shadow:
                 2.5px 2.5px 5.3px rgba(204, 204, 0, 0.041),
                 8.3px 8.3px 17.9px rgba(204, 204, 0, 0.041),
                 37px 37px 80px rgba(204, 204, 0, 0.041)
               ;
        border: none;
    }

    li.list-group-item {
        background-color:  #FFC0CB;
        border: none;
    }

    ul.list-unstyled {
        color: #FFC0CB;
    }

    ul.list-unstyled li {
        color: #FFC0CB;
    }
