body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This is for vertical centering, adjust as needed */
  margin: 0; /* Remove default margin */
  padding-top: 60px;


}
.custom-card{
  font-family:  Georgia, serif;
  width: auto;
  height: 700px;
  padding: 10px;
  margin: auto 60px auto;
  color: #223826;



}



a.col.card.p-2.m-3.card-1{
    font-family:  Georgia, serif;

    background-image: url("https://cdn.discordapp.com/attachments/225383532850053120/1116432677109776516/ooushi.png") !important;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;

}

div.col.card.p-2.m-3.card-2{
     background-image: url("https://cdn.discordapp.com/attachments/225383532850053120/1116433243223380098/ooushi1.png");
           background-position: center center;
           background-size: cover;
           background-repeat: no-repeat;
           border: none;


}



.event-link {
  font-family:  Georgia, serif;
  color: #223826;
  font-size: 15px;
  display: flex;
}
.event-link:hover{
    color:  #FF4500;
}


.event-item {
    list-style-type: disc;
}
.event-item::marker {
    color: #223826;
}




.event-list {
  display: flex;
  flex-direction: column; /* Make items layout in a column */
  justify-content: space-around;
}


p.m-auto.text-secondary {

    font-size: 15px;
    color:  #FF1493 !important;
}

 li {
    font-size: 15px;


}




ul {
  list-style-type: none;
  display:flex;
  justify-content: space-around;
}

ul li {
  text-align: center;
  color: #fff !important;
  margin: 20px 0;
}

a.link-color {
  color: #223826;
}
a.link-color:hover {
    color:  #FF4500;
}
a.link-color:active {
  color: #FF4500;
}


ul li img {
  width: 100px; /* adjust the size of the images */
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.card {
  max-height: 300px;
}
