h1 {
 padding-top: 40px;
 padding-bottom: 40px;
 font-size: 50px;
 font-family:  Georgia, serif;
 text-align: center;
 color: #fff;
}


div.col-auto.card.m-auto.p-3.card-1 {
    background-color: #223826;
    color: #fff;
    font-size: 18px;
    height: 800px;
    width: 800px;
}


div {
    font-family:  Georgia, serif;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

div.row.p-2 {
    font-family:  Georgia, serif;
    font-size: 18px;
    text-align: center;
}


button.btn.btn-success.mx-3 {
  font-size: 16px;
  margin-top: 11px;
  color: #006400;
  background-color: #fff;
}
button.btn.btn-success.mx-3:hover {
   box-shadow:
          0px 0px 1.1px -7px rgba(0, 100, 0, 1),
          0px 0px 3px -7px rgba(0, 100, 0, 1),
          0px 0px 7.2px -7px rgba(0, 100, 0, 1),
          0px 0px 24px -7px rgba(0, 100, 0, 1)
        ;
}
button.btn.btn-danger.mx-3 {
  font-size: 16px;
  margin-top: 11px;
  color:  #8B0000;
  background-color: #fff;
}
button.btn.btn-danger.mx-3:hover {
   box-shadow:
          0px 0px 1.1px -7px rgba(139, 0, 0, 1),
          0px 0px 3px -7px rgba(139, 0, 0, 1),
          0px 0px 7.2px -7px rgba(139, 0, 0, 1),
          0px 0px 24px -7px rgba(139, 0, 0, 1)
        ;
}

button.btn.btn-primary {
  font-size: 16px;
  margin-top: 5px;
  color:  #223826;
  background-color: #fff;

}
