

h1 {
    text-align: center;
    font-family:  Georgia, serif;
    font-size: 45px;
    color: #fff;
}


div.card.p-3.m-3 {

    background-color: #223826;
    color: #fff;
    font-size: 18px;
    font-color: #fff;
    width: auto;
    height: auto;


}


form.ng-untouched.ng-pristine.ng-valid {
    padding-left: 11px;
    padding-top: 5px;
    font-family:  Georgia, serif;
    font-size: 18px;
    color: #fff;

}

input.entry-code {
    margin-top: 3px;
    width: 100px;
    font-family:  Georgia, serif;
    font-size: 18px;

}

.form-text.mb-3 {
    font-family:  Georgia, serif;
    font-size: 15px;
    color: #fff;

}

input.btn.btn-join {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-top: 11px;
    color: #223826;
    background-color: #fff;
    border-radius: 7px;
    padding: 0.3rem 1rem;
}



