form {
  display: flex;

  align-items: center;
  height: 50vh; /* This is for vertical centering, adjust as needed */
  margin: 0; /* Remove default margin */
  padding-top: 60px;


}




div.container {
    padding-top: 40px;

}
div.row{
    font-family:  Georgia, serif;
}

.custom-card {
    text-align: center;
    font-size: 45px;
    color: #fff;
    background-color: #223826;
}

div.col.card.p-2.m-3.card-3 {
    background-color: #223826;
    color: #fff;
    font-size: 18px;
    width: auto;
    height: auto;
}
div.col.card.p-2.m-3.card-4 {
    background-color: #223826;
    color: #fff;
    font-size: 18px;
    width: auto;
    height: auto;
}

input.btn.btn-success {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-top: 5px;
    color: #223826;
    background-color: #fff;
}

p.mx-auto {
   margin-top: 5px;
   margin-bottom: 5px;

}
