form {
  font-family:  Georgia, serif;


}

div.email {
    margin-left: 10px;
}
input#email.ng-untouched.ng-valid.ng-dirty {
    margin-left: 8px;
}
div.password{
    margin-top: 15px;
}
label.pass {
    margin-left: 10px;
}
input#password.ng-untouched.ng-valid.ng-dirty {
    margin-left: 8px;
}
div.submit {
    margin-top: 15px;
    font-family:  Georgia, serif;
    font-size: 16px;
    margin-left: 10px;
    color: #223826;
}
button.btn.btn-submit {
    font-size: 16px;
    margin-left: 0px !important;
    color: #223826;
    background-color: #fff;

}
