nav.navbar {

}

nav.navbar.navbar-expand-lg.bg-light{
    width: 100%;
    height: 650px;
    padding-bottom: 60px;

}
@media (max-width: 768px) {
    nav.navbar.navbar-expand-lg.bg-light {
        height: 500px;
    }


}

/*a.navbar-brand {
    font-size: 35px;
    color: #F0FFF0;
    background-color: #FF8C00;
    padding: 0.3rem 2rem;
    border-radius: 30px;
}*/
nav.navbar.navbar-expand-lg.bg-light {
    background-image: url("https://cdn.discordapp.com/attachments/225383532850053120/1115338519817244722/TASTE.gif") !important;
    background-position: center center;
}




ul.nav-pills a.nav-link {
    background-color: #FF1493;
    font-size: 12px;
    border-radius: 15px;
    padding: 0.3rem 2rem;
}
li.btn.btn-primary.rounded-pill {

    border-radius: 15px;
    padding: 0.3rem 2rem;
}



ul.nav-pills a.nav-link:hover {
    color: #FF8C00;
    box-shadow:
              0px 0px 1.1px -7px rgba(255, 140, 0, 1),
              0px 0px 3px -7px rgba(255, 140, 0, 1),
              0px 0px 7.2px -7px rgba(255, 140, 0, 1),
              0px 0px 24px -7px rgba(255, 140, 0, 1)
            ;

}



ul.nav-pills a.nav-link {
    color: #FFA500;
}
